<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100vh;">

  <main class="tab">
    <div class="tab-menu">
      <button class="tab-button" onclick="openTab('home')">
        <img src="/assets/home-icon.ico" alt="Home">
      </button>
      <button class="tab-button" onclick="openTab('profile')">
        <img src="/assets/profile-icon.ico" alt="Profile">
      </button>
      <button class="tab-button" onclick="openTab('settings')">
        <img src="/assets/settings-icon.ico" alt="Settings">
      </button>
      <button class="tab-button" onclick="openTab('help')">
        <img src="/assets/help-icon.ico" alt="Help">
      </button>
    </div>
  </main>

  <main class="main">
    <div class="main-login-box" style="margin-right: 20px;">
      <div class="username-login-box">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
      </div>
      <div class="password-login-box">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
      </div>
      <div class="enter-login-button-box">
        <button type="button">Login</button>
      </div>
      <div class="register-button-box">
        <button type="button">Register</button>
      </div>
      <div class="forgot-password-box">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
    <div class="main-content-box">
      <div class="main-content-box-title">
        <h1>Welcome to Veneris</h1>
      </div>
      <div class="main-content-box-content">
        <p>This is a simple web application that allows you to ...</p>
      </div>
    </div>
  </main>

</div>